<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label class="form-label">Firstname</label>
        <%= form.text_field :first_name, class:"form-control", rows:"3" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Lastname</label>
        <%= form.text_field :last_name, class:"form-control", rows:"3" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Email:</label>
        <%= form.text_field :email, class: "form-control", rows: "3", placeholder: "name@example.com" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <%= form.text_field :phone, class: "form-control", rows: "3" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Twitter</label>
        <%= form.text_field :twitter, class: "form-control", rows: "3" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Facebook</label>
        <%= form.text_field :facebook, class: "form-control", rows: "3" %>
      </div>
      <div class="mb-3">
        <label class="form-label">Instagram</label>
        <%= form.text_field :instagram, class: "form-control", rows: "3" %>
      </div>
      <div>
        <%= form.submit 'Send', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  </div>
<% end %>
