<h1 class="text-center">Friends List</h1>

<%= link_to "+", new_friend_path, class: 'btn btn-primary' %>
Soy: <%= current_user.email %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name:</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">Facebook</th>
      <th scope="col">Instagram</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <th scope="row"><%= link_to friend.first_name + ' ' + friend.last_name, friend %></th>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= friend.facebook %></td>
            <td><%= friend.instagram %></td>
            <td><%= link_to "Destroy", @friend, method: :delete, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
